.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 802px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 602px repeat(2, 1fr);
}

.main-container {
  >header,>footer {
    grid-column: span 12;
    grid-row: span 2;
  }
  >nav,>aside {
    grid-column: span 2;
  }
}

.main-container > * {
  border: 1px solid red;
  box-sizing: border-box;
}
