.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 8% 84% 8%;
}

.main-container {
  >header,>footer {
    grid-column: span 12;
  }
  >nav,>aside {
    grid-column: span 1;
  }
  >main {
    grid-column: span 10;
  }
}

.main-container > * {
  border: 1px solid red;
  box-sizing: border-box;
}

.main-container > * > * {
  border: 1px solid blue;
}
