.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(40rem, 1fr) max-content minmax(40rem, 1fr);
  grid-template-rows: minmax(15rem, 1fr) max-content minmax(7rem, 1fr);
}

.main-container {
  >header,>footer {
    grid-column: span 11;
    grid-row: span 1;
  }
  >nav {
    grid-column: span 1;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
  }

  >nav {
    grid-template: repeat(8, 1fr) / repeat(5, 1fr)
  }

  >nav>div,>aside>div {
    border: 1px solid green;
  }
}
