/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

*, *:before, *:after {
  box-sizing: inherit;
}
